<div class="well well-sm <%= well_priority_class(task) %>">
  <h4>
    <%= link_to task.name, user_task_path(@user, task) %>
    <% if !task.accomplished %>
      <%= link_to user_task_accomplished_path(@user, task), method: 'patch', class: 'btn btn-sm btn-default pull-right' do %>
        <span class='glyphicon glyphicon-ok'></span>
      <% end %>
    <% end %>
    <div class="text-center">
      <span class='badge'><%= link_to task.category.name, user_category_path(@user, task.category) %></span>
    </div>
  </h4>
</div>