<h2 class='text-center'>Stuff to Do</h2>
<br/>
<div class='col-md-6 col-md-offset-3'>
  <ul>
    <% @tasks.each do |task| %>
      <li>
        <%= render 'tasks/task', task: task %>
      </li>
    <% end %>
  </ul>
</div>  
