<h2>Welcome, <%= @user.username %>!</h2>

<h2>All Tasks</h2>

<ul>
  <% @tasks.each do |task| %>
    <li>
      <%= link_to task.name, user_task_path(@user, task) %>
    </li>
  <% end %>
</ul>

<hr/>

<%= link_to 'New Task', new_user_task_path(@user) %>
<%= link_to 'Logout', logout_path, method: 'post' %>