<%= render 'shared/header', header: "Tasks in #{@category.name}" %>

<div class='col-md-6 col-md-offset-3'>  
  <h3 class='text-center'>Stuff to Do</h3>
  <ul>
    <% @tasks_in_progress.each do |task| %>
      <li>
        <%= render 'tasks/task', task: task %>
      </li>
    <% end %>
  </ul>
  <hr/>
  <h3 class='text-center'>Accomplished Tasks</h3>
  <hr/>
  <ul>
    <% @tasks_accomplished.each do |task| %>
      <li>
        <%= render 'tasks/task', task: task %>
      </li>
    <% end %>
  </ul>

</div>